

.pageHeaders{
    background:white;
    width: 100%;
    margin-bottom: 0px;
}

.nameandlinks{
    margin: 0 auto;
    height: 90px;
    width: 960px;
    background: #ffffff;
}

.nameHeader{
    background:#4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    float: left;
}

nav{
    margin-top: 40px;
    float: right;
}

nav a{
    font-size: medium;
    color: #777777;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nava{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-left: #dddddd solid 2px;
}
.nava:hover{
    color:blue;
}

nav a:first-child{
    border-left: none;
}

.sectionContainers{
    background-image: url('../images/dust_scratches.png');
    padding-top: 15px;
    margin-top: 0px;
    height: 1000px;
    width: 100%;
    overflow: auto;
}

.section{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 650px;
    width: 930px;
    background:#ffffff;
    
}

.sectionHeadings{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: #dddddd solid 3px;
}

#pictureofMe{
    float:left;
    width:200px;
    padding-top: 10px;
    height:auto;
    margin-right: 15px;
}

#descriptionofMe{
    display: inline;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 38px;
}

.formLabels{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}

.inputs{
    width: 930px;
}

#form{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

#submitButton{
    margin-top: 40px;
    padding: 10px;
    color:white;
    background-color: teal;
    border: teal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
#time4colorboximagediv{
    margin-top: 30px;
    position: relative;
    width: 250px;
    height: auto;
    background-color: white;
}
#time4colorboxText{
    background: #4aaaa5;
    position: absolute;
    height: auto;
    top: 140px;
    right: 0;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
#time4colorboxlink{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#time4colorboxlink:hover{
    color: blue;
}

#time4colorboximage{
    width: 250px;
    height: auto;
}

.footerdiv{
    height: 100px;
    width: 100%;
    background: #777777;
    border-top: #4aaaa5 solid 2px;
}


.footertext{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 75px;
    font-size: 20px;
    text-align: center;
}